<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stocker Page</title>
    <link rel="stylesheet" th:href="@{/styles/css/books.css}">
</head>
<body>
<div class="container">
    <header>
        <a th:href="@{/books/new}" class="add-book-button">Add Book</a>
        <input type="text" class="search" placeholder="Search">
    </header>
    <main>
        <h1>Hello stocker :)</h1>
        <div class="book-grid">
            <div class="book-card" th:each="book : ${books}">
                <h2 th:text="${book.title}">Book Title</h2>
                <p>Genre: <span th:text="${book.genre}">Genre</span></p>
                <p>Stock: <span th:text="${book.currentStock}">Stock</span></p>
                <p class="price" th:text="${book.price} + ' $'">Price</p>
                <div class="actions">
                    <!-- Buttons for Edit and Delete -->
                    <button class="edit-button"
                            th:onclick="'window.location.href=\'/books/edit/' + ${book.id} + '\''">
                        Edit
                    </button>
                    <button class="delete-button"
                            th:onclick="'window.location.href=\'/books/delete/' + ${book.id} + '\''">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </main>
</div>
</body>
</html>
